@media (max-width: 425px) {
  .navbar-container {
    .logo-container {
      margin-left: 2em;
      width: 25%;
    }
    .nav-links {
      width: 60%;
      margin-right: 2em;

      .more {
        width: 50px;
        height: 30px;
      }
    }
  }

  .header-container {
    .welcome {
      display: flex;
      font-size: 50px;
      text-align: center;
      justify-content: center;
    }
  }

  .info-container {
    .what-we-stand-for {
      .section-wrapper {
        flex-direction: column;
        .responsive {
          padding-bottom: 20px;
        }
        .quality {
          padding-bottom: 20px;
        }
      }
    }
  }

  .about-hestia {
    .text-container {
      h3 {
        font-size: 14px;
      }
    }
    .books {
      max-height: 150px;
      max-width: 167px;
      align-items: center;
      padding: 50px 25px 0 0;
    }
  }

  .blog-section {
    h1 {
      margin: 20px;
    }
    .section-wrapper {
      flex-direction: column;
      align-items: center;

      .left {
        width: 80% !important;
        text-align: center;
        padding-bottom: 35px;
      }

      .middle {
        width: 80% !important;
        text-align: center;
        padding-bottom: 35px;
      }

      .right {
        width: 80% !important;
        text-align: center;
      }
    }
  }
  .info-container {
    .contact-wrapper {
      text-align: center;
      .info-wrapper {
        margin: 0;
        h6 {
          padding-left: 0;
        }
        .icon-text {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .footer {
      .left {
        margin-left: 20px;
        width: 55%;
      }

      .right {
        margin-right: 20px;
      }
    }
  }
}
