$main-pink: #e91e63;

@mixin main-button {
  background-color: #e91e63;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
